<html>

<head>
  <title>Search and Rescue</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- DONT REMOVE THIS -->
  <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="./style.css" />
  <!-- DONT REMOVE THIS -->
  <script>if (window.module) module = window.module;</script>
  <!-- DONT REMOVE THIS -->

<body>

  <div class = "split top">
			<!-- <div class="wrapper"> -->
		    <div class = "mission">
		      <div class="input-fields">
		        <div class = "items">
		          <label class = "label">Res-Q is a crucial aid for search teams in unfavorable hazy and foggy weather that results from the aftermath of natural disasters. Our product receives thermal videos and photos and processes them with machine learning to identify trapped victims. </label>
		        </div>
            <blockquote>
              Emergency Responders: The things they do so that others may live.
            </blockquote>


		      </div>
		    </div>
		  <!-- </div> -->
		</div>

		<!-- bottom half -->
		<div class = "split bottom">
      <div class = "row">
        <div class = "colummn">
          <img src="ResQlogo.png" style = "height:90%;width:31%;  display: block;
            margin-left: 100px;
            margin-right: 50px;
            padding-top:20px;">
        </div>
        <div class = "colummn">
          <div class="wrapper">
            <div class="form" style = "right:0;">

              <div class="button" id="video-submit" type="Submit">Upload Video</div>

              <div class="button" id="webcam-submit" type="Submit">Run Webcam</div>

            </div>
          </div>
        </div>
      </div>

    </div>
  <script type="text/javascript" src="./index.js"></script>

</body>
</head>

</html>
